body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top right, rgb(103, 103, 207), lightblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #mnemonic {
    display: block;
    margin-top: 8px;
  }

  #saveselection {
      border-radius: 14px;
      margin-left: 1px;
      padding: 8px 12px;
      color:black;
      border:1px solid #a7a7a7;
      height: 40px;
    }
  
  #saveselection:hover {
      background-color: rgba(255, 255, 255, 0.561);
  }