body {
  height: 100%;
  padding-top: 120px;
  width: 100%;
  background-image: linear-gradient(to top right, rgb(103, 103, 207), lightblue);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: auto auto;
  justify-content: space-around;
}

.checkText {
  font-size: medium;
}

#saveCheckButton {
  border-radius: 14px;
  color:black;
  border:1px solid #a7a7a7;
  height: 40px;
  width: 70px;
}

#natHeader {
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 8px 12px;
  color:black;
  height: 40px;
}
/* #selectionNat {
  width: 400px;
  text-align-last:center;
}

#selectionTar {
  width: 400px; 
  text-align-last:center;
} */

.button {
    border-radius: 14px;
    margin-left: 1px;
    padding: 8px 12px;
    color:black;
    border:1px solid #a7a7a7;
    height: 40px;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    width: 400px; 
    text-align-last:center;
  }

#note {
  font-size: x-large;
}

#checkBoxes {
  border-radius: 14px;
  margin-left: 1px;
  padding: 8px 12px;
  width: 400px; 
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.561);
}

.headers {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
}


/* Dropdown Button */
/* .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none; */
  
  
  /* The container <div> - needed to position the dropdown content */
  /* .dropdown {
    position: relative;
    display: inline-block;
  }
   */
  /* Dropdown Content (Hidden by Default) */
  /* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  } */
  
  /* Links inside the dropdown */
  /* .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  } */
  
  /* Change color of dropdown links on hover
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  /* .dropdown:hover .dropdown-content {display: block;} */
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */