/* body {
  background-color: lightblue;
} */

body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top right, rgb(103, 103, 207), lightblue);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#word {
  font-size: large;
  background: rgb(20, 20, 161);
  border-radius: 8px;
  color: white;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#wordAndStatus {
  margin-top: 20px;
  margin-bottom: 20px;
}

#exSen {
  margin-top: 20px;
  margin-bottom: 10px;
  background: rgb(20, 20, 161);
  border-radius: 8px;
  color: white;
  padding: 10px;
}

#prefix {
  display:inline-block;
  padding-top: 20px;
  font-size: large;
}

#answerButtons {
  margin-bottom: 10px;
}

#next{
  border-radius: 50%;
  display: block;
  color:#7f7f7f;
  border:1px solid #a7a7a7;
  height: 50px;
  width: 50px;
  margin:0px auto;
  position: fixed;
  bottom: 0;
  right: 20px;
  margin-bottom: 10px;
}


.btn {
  background:  rgba(255, 255, 255, 0.76);
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.561);
}

#listen{
  border-radius: 50%;
  float: left;
  padding: 4px 8px;
  color:#7f7f7f;
  border:1px solid #a7a7a7;
  height: 40px;
}

#exampleButton{
  border-radius: 14px;
  margin-left: 1px;
  padding: 8px 12px;
  color:black;
  border:1px solid #a7a7a7;
  height: 40px;
}

#answerDiv {
  margin-top: 20px;
}

#reveal{
  border-radius: 14px;
  margin-left: 1px;
  padding-right: 20px;
  padding-left: 20px;
  color:black;
  border:1px solid #a7a7a7;
  height: 40px;
}

#mnemonicButton{
  border-radius: 14px;
  padding-right: 40px;
  padding-left: 40px;
  margin-left: 1px;
  color:black;
  border:1px solid #a7a7a7;
  height: 40px;
}


#content {
  display:inline-block;
  padding-top: 20px;
  font-size: large;
  color: whitesmoke;
}

#suffix {
  display:inline-block;
  padding-bottom: 20px;
  font-size: large;
}

#mnemonic {
  margin-bottom: 20px;
  font-size: large;
}

#optionButtons {
  padding-top: 20px;
  font-size: large;
}

#answrStat {
  font-size: large;
}

.answerInfo {
  display: block;
}

.options {
  min-width: 40%;
  max-width: 100%;
  margin-top: 2px;
  border-radius: 8px;
  padding: 4px;
  transition-duration: 0.4s;
  display: block;
  flex-direction: column;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.76);
  text-align: center;
  font-size: medium;
  /* font-family: "Arial", Times, serif; */
}

.correctAns {
  border: 4px solid green;
}

.wrongAns {
  border: 4px solid red;
}

.fdbk {
  border-radius: 14px;
  margin-left: 1px;
  padding: 8px 12px;
  color:black;
  border:1px solid #a7a7a7;
  height: 40px;
}

.fdbk:hover {
  background-color: rgba(255, 255, 255, 0.561);
}

#choices {
  margin-top: 20px;
  margin-bottom: 20px;
}

.options:hover {
  background-color: rgba(255, 255, 255, 0.561);
}

.overflow {
  word-break: break-word;
}