body {
    min-width: 250px;
    min-height: 250px;
    max-width: 100%;

    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top right, rgb(103, 103, 207), lightblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  }

  .button {
    border-radius: 14px;
    margin-left: 1px;
    padding: 8px 12px;
    color:black;
    border:1px solid #a7a7a7;
    height: 40px;
  }

  .button:hover {
    background-color: rgba(255, 255, 255, 0.561);
  }